html {
  background-color: LIGHTCYAN;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  top: 0;
  bottom: 0;
  padding: 0px;
  margin: 0px;
}

.title {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  font-size: 24px;
  color: GOLD;
  line-height: 136px;
  text-shadow: -2px -2px 0px rebeccapurple;

}

.tweet {
  max-width: 50%;
  text-align: center;
  margin: auto;
  /*margin-top: 120px;*/
  background-color: DEEPSKYBLUE;
  color: WHITE;
  border-radius: 8px;
  padding: 2px;
  opacity: 1; /* should range between 0 and 1 */
  position: fixed;
  /*top: 30vh; /* should range between 0 and 40 */*/
  /*left: 25vw; /* should range between 0 and 50 */*/
}

p {
  line-height: 200%;
}

#hashtag{
  color: BLUE;
}
