<!DOCTYPE html>
<html>

  <head>
    <title>Making Music With Data</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Dror Ayalon + Or Fliehser">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
  </head>

  <body>

    <div class="container">

      <div class="title">
        title title
      </div>

    </div>

    <script src="js/Tone.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/socket.io.min.js"></script>
    <script src="js/sound.js"></script>

  </body>

</html>
